.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  column-gap: 1em;
  row-gap: 1em;

}


.container {
    background-color: rgb(223, 167, 63);
}
.container > div {
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffd8a8;
    padding: 1em;
    color: #d9480f;
    
  }

  .card1 {
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 3; 
  }

  .card7 {
    grid-column-start: 2; 
    grid-column-end: 4; 
    grid-row-start: 3; 
    grid-row-end: 4; 
  }